
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 h1{
  text-align: center;
 }
  
  .card-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 140px auto; 
  }  
  
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    display: inline-block;
    vertical-align: top;


  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-specialty {
    font-size: 1rem;
    color: #33333390;
    margin-bottom: 8px;
  }
  
  .card-description {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  body{
    background-color: #14977244;
    background-image: url('../img/fondo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }


/* Estilos para el formulario */
#add-card-form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#add-card-form label {
  display: block;
  margin-top: 1rem;
}

#add-card-form input, #add-card-form button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
#add-card-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

#add-card-form button:hover {
  background-color: #0056b3;
}

